<div class="row">
    <div class="col-md-12">
        {{#unless department}}
            <div class="col-md-12 text-center">
                <div class="not-found-block">
                    <strong>{{message}}</strong>
                </div>
            </div>
        {{else}}
            <br>
            <h2>{{department.departmentName}} - Department: {{department.departmentId}}</h2>
            <hr/>
            <form method="GET" action="/">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="departmentName">Department Name</label>
                            <input class="formcontrol" id="departmentName" name="departmentName" 
                            type="text" readonly value="{{department.departmentName}}" />
                        </div>
                    </div>
                </div>
                <hr/>
            </form>
        {{/unless}}
    </div>
</div>